<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30021">
		<setting type="lsep" label="BurningSeries" />
		<setting default="true" type="bool" id="plugin_burning_series_org" label="30050" />
		<setting enable="!eq(-1,false)" label="Benutzername" type="text" id="plugin_burning_series_org_username" />
		<setting enable="!eq(-2,false)" option="hidden" label="Passwort" type="text" id="plugin_burning_series_org_password" />
	</category>
</settings>